.container {
  padding: 0 20px;
}
.color5c {
  color: #2d67ff !important;
}
.mgl5 {
  margin-left: 5px;
}

.size10 {
  font-size: 10px;
}

.text-c {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
